DB_NAME='db'
DB_USER='user'
DB_PASSWORD='password'
DB_HOST='db'
DB_PREFIX='wp_'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://localhost:8000'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='P*R-@wO.B?$uPA%px;&,9vbv0vRyg&@VhB0o22v(yBn8+07H?Vy{?,1UAGa39};]'
SECURE_AUTH_KEY='YS{,6*ntCiEuHE#!^5/_[fE;E)9rQq&orgL=B%$re69LZzFR?=:0#H{jp96<eqH.'
LOGGED_IN_KEY='c?A_<7W^EWh+)dcd[78o#@R255pD:Sat?u,`?rT!Y8DO(oWBG)`_]6opKD7Q:+yo'
NONCE_KEY='tD7O`1wzlMtPM6J`vrfAk0{OPZHPJm6yKlzY+!rS}bu=04{`yk5$8I>eoiy7_C$f'
AUTH_SALT='aQe9X(=+Cz&jO6+TiA`&bDbASImwvf0KD?f(%&}LQ`nZI<;XLzkL`y*%}Kt4r$%D'
SECURE_AUTH_SALT='-BL(_SF-8RTgiK?5p#WJ1TCHpqKSZOIswS:!aRGZ18mIH!D2u&,>niZ}EYGJ)$[X'
LOGGED_IN_SALT='P>KW}K[X(/]3!<0U!+E!Xwp7bZKZg@r1tM?-*[hU8=7X?$ijA:WFlJt_ME<Eoc5e'
NONCE_SALT='+S{&6EVs7g]q]NW;Upuy8fmana}F&g}-B=;d2M|H,H93uEeXl4zng@5j->}6d4=]'
